.item {
    background: rgba(57, 56, 56, 0.4);
    margin: 15px;
    padding: 20px;
    border-radius: 6px;
    width: 300px;
}
.item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* object-position: center; */
    border-radius: 5px;
}